<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
 xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
 xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
 xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
 xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
 IgnorableNamespaces="uap uap3 com rescap">
 <Identity Name="IlsangCalendar.Widgets" Publisher="CN=IlsangCalendar" Version="1.0.0.0" ProcessorArchitecture="x64" />
 <Properties><DisplayName>일상 캘린더 위젯</DisplayName><PublisherDisplayName>일상 캘린더</PublisherDisplayName><Logo>Assets\StoreLogo.png</Logo></Properties>
 <Dependencies>
  <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.22000.0" MaxVersionTested="10.0.26100.0" />
  <PackageDependency Name="Microsoft.WindowsAppRuntime.2" MinVersion="2.3.1.0" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" />
 </Dependencies>
 <Resources><Resource Language="ko-kr" /><Resource Language="en-us" /></Resources>
 <Applications>
  <Application Id="Widgets" Executable="Provider\IlsangWidgets.exe" EntryPoint="Windows.FullTrustApplication">
   <uap:VisualElements DisplayName="일상 캘린더 위젯" Description="오늘 일정, 월간 달력, 다가오는 일정" BackgroundColor="transparent" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" />
   <Extensions>
    <com:Extension Category="windows.comServer"><com:ComServer>
     <com:ExeServer Executable="Provider\IlsangWidgets.exe" Arguments="-Embedding" DisplayName="일상 캘린더 위젯">
      <com:Class Id="3CB28C80-3472-4CD0-B418-8D059DA85B96" DisplayName="일상 캘린더 위젯" />
     </com:ExeServer>
    </com:ComServer></com:Extension>
    <uap3:Extension Category="windows.appExtension">
     <uap3:AppExtension Name="com.microsoft.windows.widgets" DisplayName="일상 캘린더" Id="IlsangWidgets" PublicFolder="Public">
      <uap3:Properties><WidgetProvider>
       <ProviderIcons><Icon Path="Assets\StoreLogo.png" /></ProviderIcons>
       <Activation><CreateInstance ClassId="3CB28C80-3472-4CD0-B418-8D059DA85B96" /></Activation>
       <Definitions>
        <Definition Id="today" DisplayName="일상 캘린더 · 오늘 일정" Description="오늘 해야 할 일정을 확인하세요" AllowMultiple="true">
         <Capabilities><Capability><Size Name="small" /></Capability><Capability><Size Name="medium" /></Capability><Capability><Size Name="large" /></Capability></Capabilities>
         <ThemeResources><Icons><Icon Path="Assets\Square44x44Logo.png" /></Icons><Screenshots><Screenshot Path="Assets\Today.png" DisplayAltText="오늘 날짜와 일정 목록" /></Screenshots></ThemeResources>
        </Definition>
        <Definition Id="month" DisplayName="일상 캘린더 · 월간 달력" Description="이번 달 날짜와 일정이 있는 날을 확인하세요" AllowMultiple="true">
         <Capabilities><Capability><Size Name="medium" /></Capability><Capability><Size Name="large" /></Capability></Capabilities>
         <ThemeResources><Icons><Icon Path="Assets\Square44x44Logo.png" /></Icons><Screenshots><Screenshot Path="Assets\Month.png" DisplayAltText="이번 달 달력과 오늘 일정" /></Screenshots></ThemeResources>
        </Definition>
        <Definition Id="upcoming" DisplayName="일상 캘린더 · 다가오는 일정" Description="다가오는 일정을 날짜순으로 확인하세요" AllowMultiple="true">
         <Capabilities><Capability><Size Name="small" /></Capability><Capability><Size Name="medium" /></Capability><Capability><Size Name="large" /></Capability></Capabilities>
         <ThemeResources><Icons><Icon Path="Assets\Square44x44Logo.png" /></Icons><Screenshots><Screenshot Path="Assets\Upcoming.png" DisplayAltText="다가오는 일정 목록" /></Screenshots></ThemeResources>
        </Definition>
       </Definitions>
      </WidgetProvider></uap3:Properties>
     </uap3:AppExtension>
    </uap3:Extension>
   </Extensions>
  </Application>
 </Applications>
 <Capabilities><rescap:Capability Name="runFullTrust" /></Capabilities>
</Package>
